*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Space Mono', monospace;
    color: var(--main-text-color);
}

:root{
    --bg-color: #F6F8FF;
    --card-color: #FEFEFE;
    --bold-text-color:#2B3442;
    --main-text-color:#4B6A9B;
    --socialLinkbg-color:#F6F8FF;
    --card-box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);

    /*  */
}

.darkTheme{
    --bg-color: #141D2F;
    --card-color: #1E2A47;
    --bold-text-color:#FFFFFF;
    --main-text-color:#FFFFFF;
    --socialLinkbg-color:#141D2F;
    --card-box-shadow:  0 16px 30px -10px rgba(70, 88, 109, 0.15);
}

body{
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);

}

.container{
    width: 55%;
    max-width: 1024px;
    min-width: 900px;
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: auto;
    
}

#form{
    background-color: var(--card-color);
    width: 100%;
    border-radius: 15px;
    box-shadow: var(--card-box-shadow);

    
}

.userCard{
    background-color: var(--card-color);
    border-radius: 15px;
    box-shadow: var(--card-box-shadow);
}

a, #button, .theme, .lightTheme{
    cursor: pointer;
}

a{
    text-decoration: none;
}

a:active, a:focus, a:hover{
    text-decoration: underline;
}

.userImage{
    width: 7.5rem;
}


/*///////////////
     TYPOGRAPHY 
///////////////*/

.headerText{
    font-weight: 700;
    font-size: 1.625rem;
    color: var(--bold-text-color);
    letter-spacing: 0;
}

.theme{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.theme p{
    font-weight: 700;
    font-size: 0.8125rem;
    font-style: normal;
}

.lightTheme{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.lightTheme p{
    font-weight: 700;
    font-size: 0.8125rem;
    font-style: normal;
}


.theme:active,
.theme:hover,
.theme:focus{
    filter: brightness(20%);
}

.lightTheme:active,
.lightTheme:hover,
.lightTheme:focus{
    filter: brightness(20%);
}




#button{
    color: #fff;
    background-color: #0079FF;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 10px;
}

#button:active, 
#button:focus,
#button:hover{
    background-color: #60ABFF;
}

#searchInput{
    font-size: 1.25rem;
    background-color: var(--card-color);
    
}

#searchInput::placeholder{
    color: var(--main-text-color);
}

.userName h1{
    font-weight: 700;
    font-size: 1.625rem;
    color: var(--bold-text-color);
    letter-spacing: 0;
}

.userName p{
    font-weight: 400;
    font-size: 1rem;
    color: #0079FF;
}

.date{
    color: var(--main-text-color);
    font-size: 0.9375rem;
}

.userBio{
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.6;
}

.socialTitle{
    font-weight: 400;
    font-size: 0.8125rem;

}

.socialInfo{
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--bold-text-color);
    
}

.socialIcon{

}

.socialLinksInfo{
    font-size: 0.9375rem;
    font-weight: 400;
}


/*//////////////
    LAYOUT
//////////////*/

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#form{
    display: flex;
    
    padding: 1rem 1rem;
    gap: 1.5rem;
    height: 4.5rem;
    justify-content: center;
    align-items: center
    
    
}



#searchInput{
    border: none;
    width: 100%;
    height: 100%;
   
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#errorMessage{
    margin-left: auto;
    color: #F74646;
    font-size: 0.9375rem;
    width: max-content;
    
}




.userCard{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    

}

.userHeader{
    display: flex;
    gap: 2rem;
    width: 100%;
   

}


.userImage{
    width: 20%;
    border-radius: 50%;
}

.userInfo{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 80%;
}

.date{
    margin-top:0.5rem;
}

.userName{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login{
    display: flex;
}


.userRest{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
    align-self: flex-end;
    padding-left: 2rem;
    gap: 2rem;
}

.userBio{
    width: 100%;
    margin-top: -5rem;
}

.socialInfos{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color:var(--socialLinkbg-color);
    border-radius: 15px;
    margin-bottom: 0;
}

.repos,  .followers, .following{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: ;
    gap: 0;
}


.socialLinks{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 0;
}



.socialLink{
    display: flex;
    gap: 1.5rem;
    width: 45%;
    align-items: center;
    
}

.notAvailable{
    opacity: 0.5;
}



@media (max-width: 1024px ) {
    /*///////////////
     LAYOUT 
    ///////////////*/

    .container{
        width: 75%;
        min-width: 595px;
        
    }

    .userCard{
        padding: 3rem;
    }
    
    .userHeader{
        align-items: center;
    }

    .userInfo{
        flex-direction: column;
        gap: 0.5rem;
        justify-content: flex-start;
    }

    .date{
        margin-top:0;
    }

    .userRest{
        width: 100%;
        padding: 0;
        gap: 3rem;
    }
    

    .userBio{
        margin-top: 3rem;
    }
}

@media (max-width: 600px) {
    
    .container{
        width: 88%;
        min-width: 300px;
        padding: 2rem 0;
        
    }

    /*///////////////
     TYPOGRAPHY 
    ///////////////*/

    #button{
        font-size: 0.875rem;
    }

    #searchInput{
        font-size: 0.8125rem;

    }

    .userName h1{
        font-size: 1rem;
    }

    .userName p{
        font-size: 0.8125rem;
    }

    .date{
        font-size: 0.8125rem;
    }

    .userBio{
        font-size: 0.8125rem;
        margin-top: 1rem;

    }

    .socialTitle{
        font-size: 0.6875rem;
    }

    .socialInfo{
        font-size: 1rem;

    }
    
    .socialLinksInfo{
        font-size: 0.8125rem;

    }

    .userCard{
        padding: 1.5rem 1.5rem;
    }



    .userImage{
        width: 4.375rem;
        /* height: 7.5rem; */
    }
    
    #form{
        padding: 0.5rem 0.5rem;
        gap: 0.75rem;
        height: 4rem;
    }

    .searchIcon{
        height: 1.25rem;
    }


    .socialLinks{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        
    }
    
    .date{
        margin-top:0;
    }
    
    
    
    .socialLink{
        display: flex;
        gap: 1.5rem;
        width: 100%;
        
        
    }
    .location{
        order: -4;
    }

    .blog{
        order: -3;
    }
    .twitter{
        order: -2;
    }
}

@media (max-height: 750px) {
    .container{
        max-height: 95vh;
       
    }
}