*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}



body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 80%;
    background-color: aqua;
    height: auto;
    padding: 2rem;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.userCard{
    display: flex;
    flex-direction: column;
    

}

.userHeader{
    display: flex;
    gap: 2rem;

    width: 100%;
    border: 2px red solid;

}
.userImage{
    width: 20%;
}

.userInfo{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    border: 2px solid pink;
    width: 100%;
}

.userRest{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px wheat solid;
    width: 80%;
    align-self: flex-end;
}

.userBio{
    width: 100%;
    margin-top: -1rem;
}